<!doctype html>
<html lang='en'>

<head>
  <meta charset="utf-8">
  <title>CalcUL8R</title>
  <link rel="stylesheet" href="/style.css">
</head>

<body>
<h1>Ye olde abaKus</h1>
  <nav>
    <ul>
      <li><a href ="/">Home</a></li>
      <li><a href ="/about_us">About</a></li>
    </ul>
  </nav>
  <!--   The result is <%= @calculation %>. -->
  <%= yield %>
</body>

</html>